*,
*::before,
*::after {
    padding: 0;
    border: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}
body,html {
    font-family: "LXGW WenKai", sans-serif;
    width: 100%;
    height: 100%;
    place-items: center;
    background-color: #9c9ce2;
}
::selection{
    background: #562abb88;
    color: #fff;
}
::-webkit-scrollbar {
    display: none;
}
.shade-bg{
    background-size: cover;
}
#second-bg {
    z-index: 1;
    display: block;
    text-align: center;
    height: 130%;
    width: 100%;
    position: relative;
}
#grid-container{
    width: 100%;
    display: grid;
    grid-gap: 3vh;
    display: inline-block;
}
.s-section {
    text-align: center;
    align-items: center;
    justify-content: center;
    position: relative;
    display: block;
    height: 10vh;
}
.s-section:nth-child(1){
    /* background-image: url("../res/mountain.png"); */
    background-size: cover;
    width: 100%;
    height: 110vh;
    display: block;
    justify-content: center;
}
.main {
    width: 70vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: auto;
}
.main-title {
    font-size: 2.5rem;
    font-weight: bold;
    color: hotpink;
    text-align: center;
    width: auto;
    margin-bottom: 70vh;
    margin-top: 22%;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 50px #fff, 0 0 60px #fff;
}
.poem-cite {
    display: inline-block;
    font-size: 2.5rem;
}
@keyframes forward {
    0% {left: 0; }
    50% {left: 200px;}
    100% {left: 400px;}
}
.poem-cite > span {
    -webkit-animation-duration: 1.5s;
    -webkit-animation-name: nodeInserted;
}
@-webkit-keyframes nodeInserted {
    from { opacity: 0; }
    to { opacity: 1; }
}
.color-blue {
    display: inline-block;
    color: #4b78da;
    /* border: 1px solid #000; */
}
.color-black {
    display: inline-block;
    color: #000;
    /* border: 1px solid #000; */
}
.vclock{
    display: flex;
    font-size: 1.5rem;
    position: absolute;
    bottom: 0;
}
#typing-box-outside {
    display: inherit;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    align-items: center;
    width: 72rem;
    height: 12rem;
    border: 1px solid #323232;
}
.main-after{
    /* opacity: 0; */
    background-color: #bcceec40;
    margin: 4vh auto;
    height: 10vh;
    width: 70vw;
    border: 1px solid #6e96907e;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    justify-content: center;
}
.contract-me{
    font-size: 2rem;
    color: #000;
    text-align: center;
    opacity: 100%;
}
.begin-alert{
    color: #000;
    background-color: #62c8cf60;
    text-align: center;
    justify-content: center;
    opacity: 100%;
    position: absolute;
    left:calc(50% - 30vw);
    top: -25vh;
    height: 20vh;
    width: 60vw;
    border: 1px solid #000;
}
.begin-alert-text{
    font-size: 1.5rem;
    display: block;
    margin-top: 5vh;
}
#tail{
    height: 10vh;
}

/* 适应iPhone */
@media (max-width: 420px) {
    .main {
        width: 70vw;
        height: 95vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .main-title {
        font-size: 2rem;
        font-weight: bold;
        color: hotpink;
        text-align: center;
        position: absolute;
        margin-bottom: 88vh;
        margin-top: 22%;
        line-height: 2vh;
        Letter-spacing: 1px;
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 50px #fff, 0 0 60px #fff;
    }
    #typing-box-outside {
        display: inherit;
        justify-content: center;
        align-items: flex-start;
        position: absolute;
        top: 14vh;
        left: 1%;
        right: 1%;
        width: 98%;
        height: 70vh;
        border: 2.5px solid #323232;
    }
    .poem-cite {
        font-size: 1.5rem;
        display: flex;
        flex-direction: column;
    }
    .vclock{
        top: 86vh;
    }
    .main-after{
        margin: 5vh auto;
        height: 10vh;
        width: 70vw;
    }
    .contract-me{
        font-size: 1.8rem;
    }
}
