* {
    padding: 0;
    border: 0;
    margin: 0;
}
body {
    font-family: "LXGW WenKai", sans-serif;
}
::selection{
    background: #562abb88;
    color: #fff;
}
::-webkit-scrollbar {
    display: none;
}
/* 渐变色背景 */
#gradient-bg{
    background: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%);
    background: -webkit-linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%);
    background: -o-linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%);
    background: -moz-linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%);
    background: -ms-linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#fbc2eb), color-stop(51%,#a6c1ee), color-stop(100%,#fbc2eb));
    background: -webkit-linear-gradient(left, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%);
    background: -o-linear-gradient(left, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%);
    background: -moz-linear-gradient(left, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%);
    background: -ms-linear-gradient(left, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%);
    background: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.shade-bg{
    background-image: url("https://s1.328888.xyz/2022/07/30/FOM2U.png");
    /* background-image: url("../res/duo.png"); */
    background-size: cover;
}
#second-bg {
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    height: 130vh;
}
.main {
    width: 70vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.main-title {
    font-size: 2.5rem;
    font-weight: bold;
    color: hotpink;
    text-align: center;
    margin-bottom: 76vh;
    margin-top: 22%;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 50px #fff, 0 0 60px #fff;
}
.poem-cite {
    display: inline-block;
    font-size: 2.5rem;
}
@keyframes forward {
    0% {left: 0; }
    50% {left: 200px;}
    100% {left: 400px;}
}
.poem-cite > span {
    -webkit-animation-duration: 1.5s;
    -webkit-animation-name: nodeInserted;
}
@-webkit-keyframes nodeInserted {
    from { opacity: 0; }
    to { opacity: 1; }
}
.color-blue {
    display: inline-block;
    color: #4b78da;
    /* border: 1px solid #000; */
}
.color-black {
    display: inline-block;
    color: #000;
    /* border: 1px solid #000; */
}
.vclock{
    display: flex;
    font-size: 1.5rem;
    position: absolute;
    bottom: 0;
}
#typing-box-outside {
    display: inherit;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    top: 20rem;
    align-items: center;
    width: 72rem;
    height: 12rem;
    border: 1px solid #323232;
}
.main-after{
    background-color: #a6c1ee40;
    margin-top: 5rem;
    height: 20vh;
    width: 70vw;
    border: 1px solid #323232;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    justify-content: center;
}
.contract-me{
    font-size: 2rem;
    color: #000;
    text-align: center;
    opacity: 100%;
}

/* 适应iPhone */
@media (max-width: 420px) {
    .main {
        width: 70vw;
        height: 95vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    .main-title {
        font-size: 1.5rem;
        font-weight: bold;
        color: hotpink;
        text-align: center;
        position: absolute;
        top: 1%;
        margin-top: 0;
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 50px #fff, 0 0 60px #fff;
    }
    #typing-box-outside {
        display: inherit;
        justify-content: center;
        align-items: flex-start;
        position: absolute;
        top: 11rem;
        left: 1%;
        right: 1%;
        width: 98%;
        height: 70vh;
        border: 1.5px solid #323232;
    }
    .poem-cite {
        font-size: 1.5rem;
        display: flex;
        flex-direction: column;
    }
    .main-after{
        margin-top: 5rem;
        height: 20vh;
        width: 70vw;
    }
    .contract-me{
        font-size: 1.8rem;
    }
}

/* 适应iPad */
@media (max-width: 768px) {
    .main-title {
        font-size: 2.5rem;
    }
}

